<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GeminiAPIKey</key>
	<string>AQ.Ab8RN6IK4sQAUnBJncHV7WAyf-1MNVl1Ox5eA7CF-tk4J-GUbQ</string>
	<key>UnsplashAccessKey</key>
	<string>uAkur7tqariwNcB-oHhatJNveCDIq2ThrQtKAL6FOMU</string>
</dict>
</plist>
